@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* Importo la fuente principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.headerContenedorPerfil {
  margin: auto;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
}

.contenedorProyecto {
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 102, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
}

.contenedorGeneral {
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../multimedia/Fondo.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#botonMenu {
  display: none;
}

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(15px);
  background-color: rgba(158, 255, 255, 0.15);
}
nav label {
  position: absolute;
  right: 10px;
}
nav label img {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}
nav ul {
  display: flex;
  width: 100%;
  height: 100%;
}
nav ul li {
  width: 25%;
  height: 100%;
}
nav ul li:hover {
  background-color: rgba(158, 255, 255, 0.25);
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
nav ul li a span {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

.contenedorPopup {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.popup {
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
}

.fotoPerfil {
  width: 80%;
  max-width: 300px;
  border-radius: 1000px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
  margin: 20px;
}

header {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
}
header section {
  vertical-align: middle;
  display: table-cell;
}

.headerContenedorPerfil {
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
.headerContenedorPerfil h1 {
  margin: 20px 0 20px 0;
  font-size: 50px;
  font-weight: bolder;
}
.headerContenedorPerfil h2,
.headerContenedorPerfil h3 {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bolder;
}
.headerContenedorPerfil:hover {
  transform: scale(1.03);
}

.botonDescargarCV {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  background-color: #ff3a3a;
  gap: 30px;
}
.botonDescargarCV::after {
  content: "";
  width: 100%;
  height: 200px;
  background: red;
  position: absolute;
  z-index: 1;
  top: -200px;
  transition: 0.4s ease-in-out all;
  border-radius: 0px 0px 200px 200px;
}
.botonDescargarCV:hover::after {
  top: 0;
}
.botonDescargarCV:active {
  box-shadow: 0px 0px 10px;
}
.botonDescargarCV img {
  width: 30px;
  height: 30px;
  z-index: 2;
}
.botonDescargarCV span {
  z-index: 2;
  font-weight: bolder;
}

.proyectoImagen {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.seccionPrimera {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
}
.seccionPrimera section {
  vertical-align: middle;
  display: table-cell;
}

.portafolioContenedor {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.portafolioContenedor p {
  font-size: 30px;
}

h4 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}

h5 {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100%;
  opacity: 0;
}

h6 {
  margin-top: 20px;
}

.proyectos {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100%;
}

.contenedorProyecto {
  width: 600px;
  height: 100%;
  color: black;
}

.proyecto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.proyectoContenedor {
  width: 100%;
  height: calc(100% - 75px);
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.proyectoContenedor:hover div {
  opacity: 1;
}
.proyectoContenedor:hover div h5 {
  bottom: 0;
  opacity: 1;
}

.contenedorDescripcion {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.5s;
}

.proyectoBotones {
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.proyectoBotones a button img {
  width: 35px;
  margin: 5px;
  z-index: 2;
}
.proyectoBotones a button span {
  margin: 5px;
  z-index: 2;
  font-weight: bolder;
}

.btnDemo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background-color: #c4ff6c;
}
.btnDemo::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% - 80px);
  border-bottom: 60px solid #99ff00;
  border-right: 60px solid transparent;
  transition: 0.4s ease-in-out all;
}
.btnDemo:hover::after {
  left: 0;
}
.btnDemo:active {
  box-shadow: 0px 0px 10px;
}

.btnGitHub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background-color: #5b4fff;
}
.btnGitHub::after {
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: calc(-100% - 80px);
  border-bottom: 60px solid blue;
  border-left: 60px solid transparent;
  transition: 0.4s ease-in-out all;
}
.btnGitHub:hover::after {
  right: 0;
}
.btnGitHub:active {
  box-shadow: 0px 0px 10px;
}

.carouselBotones {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  top: calc(50% - 20px);
  border-radius: 100px;
  cursor: pointer;
  z-index: 10;
}

.botonDerecho {
  left: 20px;
}

.botonIzquierdo {
  right: 20px;
}

.conocimietoImagen {
  width: 100px;
  height: 100px;
}

.seccionSegunda {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
}
.seccionSegunda section {
  vertical-align: middle;
  display: table-cell;
}

.conocimientosContenedor {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.conocimientosContenedor div {
  background-color: white;
  border-radius: 100px;
  padding: 15px;
}

.contactoImagen {
  width: 100px;
  height: 250px;
  filter: invert(1);
}

.seccionTres {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
}
.seccionTres section {
  vertical-align: middle;
  display: table-cell;
}

.contenedorFooter {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 0;
}

.footerTexto {
  color: gainsboro;
}

.contactoContenedor {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.conocimiento {
  background-color: white;
  border-radius: 100px;
  padding: 15px;
  box-shadow: 0px 0px 15px;
  transition: all 0.25s;
}
.conocimiento:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 599px) {
  nav label {
    display: block;
    width: 50px;
    height: 50px;
  }

  nav {
    display: block;
  }
  nav ul {
    display: block;
    position: absolute;
    top: -200px;
  }
  nav ul li {
    width: 100%;
    height: 50px;
    background-color: rgba(158, 255, 255, 0.5);
    opacity: 0;
    transition: all ease-in-out 0.25s;
  }
  nav ul li:hover {
    background-color: rgba(158, 255, 255, 0.75);
  }
  nav ul li a span {
    font-size: 15px;
  }

  #botonMenu:checked ~ ul {
    top: 50px;
  }

  #botonMenu:checked ~ ul li {
    opacity: 1;
  }

  h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
  }

  .portafolioContenedor {
    height: 300px;
  }

  .contenedorProyecto {
    width: 250px;
  }

  .conocimietoImagen {
    width: 60px;
    height: 60px;
  }

  .botonDerecho {
    left: 10px;
  }

  .botonIzquierdo {
    right: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .portafolioContenedor {
    height: 400px;
  }

  .contenedorProyecto {
    width: 400px;
  }

  .botonDerecho {
    left: 15px;
  }

  .botonIzquierdo {
    right: 15px;
  }
}
@media only screen and (min-width: 600px) {
  nav label {
    display: none;
  }
}
@media only screen and (max-width: 899px) {
  .fotoPerfil {
    width: 200px;
    border-radius: 1000px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px;
    margin: 20px;
  }

  header section {
    width: 100%;
    padding: 0 10px;
  }

  .headerContenedorPerfil {
    display: block;
    max-width: 410px;
  }
  .headerContenedorPerfil h1 {
    margin-top: 0;
    font-size: 40px;
  }

  .botonDescargarCV {
    width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
