@media only screen and (max-width: 599px) {
  nav label {
    display: block;
    width: 100%;
    height: 40px;
    margin-left: 10px;
  }
  nav {
    display: block;
    ul {
      display: block;
      opacity: 0;
      li {
        width: 100%;
        height: 40px;
        background-color: rgb(158, 255, 255, 0.5);
        &:hover {
          background-color: rgb(158, 255, 255, 0.75);
        }
        a {
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
  #botonMenu:checked ~ ul {
    transition: all ease-in-out 0.25s;
    opacity: 1;
  }
  h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
  }
  .conocimietoImagen {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
}
@media only screen and (min-width: 600px) {
  nav label {
    display: none;
  }
}
@media only screen and (max-width: 899px) {
  .fotoPerfil {
    width: 200px;
    border-radius: 1000px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px;
    margin: 20px;
  }
  header section {
    width: 100%;
    padding: 0 10px;
  }
  .headerContenedorPerfil {
    display: block;
    max-width: 410px;
    h1 {
      margin-top: 0;
      font-size: 40px;
    }
  }
  .botonDescargarCV {
    width: 60%;
  }
  .proyectoImagen {
    width: 100%;
    height: 200px;
    border-radius: 25px;
  }
  .proyecto {
    width: 350px;
    color: black;
    margin: 20px 0px;
  }
}
@media only screen and (min-width: 900px) {
}
@media only screen and (max-height: 699px) {
}
@media only screen and (min-height: 700px) {
}
