@media only screen and (max-width: 599px) {
  nav label {
    display: block;
    width: 50px;
    height: 50px;
  }
  nav {
    display: block;
    ul {
      display: block;
      position: absolute;
      top: -200px;
      li {
        width: 100%;
        height: 50px;
        background-color: rgb(158, 255, 255, 0.5);
        opacity: 0;
        transition: all ease-in-out 0.25s;
        &:hover {
          background-color: rgb(158, 255, 255, 0.75);
        }
        a {
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
  #botonMenu:checked ~ ul {
    top: 50px;
  }
  #botonMenu:checked ~ ul li {
    opacity: 1;
  }
  h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
  }
  .conocimietoImagen {
    width: 60px;
    height: 60px;
  }
  .proyecto {
    width: 400px;
    color: black;
  }
  .proyectoContenedor {
    width: 100%;
    height: 250px;
  }
  .botonDerecho {
    left: 10px;
  }
  .botonIzquierdo {
    right: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
}
@media only screen and (min-width: 600px) {
  nav label {
    display: none;
  }
}
@media only screen and (max-width: 899px) {
  .fotoPerfil {
    width: 200px;
    border-radius: 1000px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px;
    margin: 20px;
  }
  header section {
    width: 100%;
    padding: 0 10px;
  }
  .headerContenedorPerfil {
    display: block;
    max-width: 410px;
    h1 {
      margin-top: 0;
      font-size: 40px;
    }
  }
  .botonDescargarCV {
    width: 60%;
  }
  .proyectoBotones {
    a button {
      img {
        width: 30px;
        margin: 5px;
        z-index: 2;
      }
    }
  }
}
@media only screen and (min-width: 900px) {
}
@media only screen and (max-height: 699px) {
}
@media only screen and (min-height: 700px) {
}
@media only screen and (min-width: 600px) and (max-width: 1399px) {
  .proyecto {
    width: 450px;
    color: black;
  }
  .proyectoContenedor {
    width: 100%;
    height: 250px;
  }
  .proyectoBotones {
    a button {
      img {
        width: 30px;
        margin: 5px;
        z-index: 2;
      }
    }
  }
}
