%contenedorTipo1 {
  margin: auto;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
}
%contenedorTipo2 {
  margin: 0 auto;
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 102, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px;
}
.contenedorGeneral {
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 0;
}
