.contactoIcono {
  width: 100px;
  height: 250px;
  color: white;
  transition: all 0.25s;
}
.contenedorFooter {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  transition: all 0.25s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
.footerTexto {
  color: rgb(220, 220, 220);
}
.contactoContenedor {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.15);
    }
  }
}
.cambiarAAmarillo {
  &:hover {
    color: rgb(249, 160, 63);
  }
}
.cambiarAAzul {
  &:hover {
    color: rgb(60, 145, 230);
  }
}
.cambiarAVerde {
  &:hover {
    color: rgb(55, 255, 139);
  }
}
