.conocimietoImagen {
  width: 100px;
  height: 100px;
}
.seccionSegunda {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
  section {
    vertical-align: middle;
    display: table-cell;
  }
}
.conocimientosContenedor {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    background-color: white;
    border-radius: 100px;
    padding: 15px;
  }
}
