.contactoImagen {
  width: 100px;
  height: 250px;
  filter: invert(1);
}
.seccionTres {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
  section {
    vertical-align: middle;
    display: table-cell;
  }
}
.contenedorFooter {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px 0;
}
.footerTexto {
  color: rgb(220, 220, 220);
}
.contactoContenedor {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.3);
    }
  }
}
