.proyectoImagen {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.seccionPrimera {
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
  top: 0;
  position: relative;
  section {
    vertical-align: middle;
    display: table-cell;
  }
}
.portafolioContenedor {
  width: 100%;
  height: 450px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  p {
    font-size: 30px;
  }
}
h4 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  color: black;
}
h5 {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100%;
  opacity: 0;
}
h6 {
  margin-top: 20px;
}
.proyectos {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -100%;
  gap: 60px;
}
.proyecto {
  width: 600px;
  @extend %contenedorTipo2;
  color: black;
}
.proyectoContenedor {
  width: 100%;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  &:hover div {
    opacity: 1;
  }
  &:hover div h5 {
    bottom: 0;
    opacity: 1;
  }
}
.contenedorDescripcion {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: all 0.5s;
}
.proyectoBotones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  a button {
    img {
      width: 35px;
      margin: 5px;
      z-index: 2;
    }
    span {
      margin: 5px;
      z-index: 2;
      font-weight: bolder;
    }
  }
}
.btnDemo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background-color: rgb(196, 255, 108);
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 60px solid rgb(153, 255, 0);
    border-right: 60px solid transparent;
    transition: 0.4s ease-in-out all;
  }
  &:hover::after {
    left: 0;
  }
  &:active {
    box-shadow: 0px 0px 10px;
  }
}
.btnGitHub {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 5px;
  background-color: rgb(91, 79, 255);
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: calc(-100% - 80px);
    border-bottom: 60px solid blue;
    border-left: 60px solid transparent;
    transition: 0.4s ease-in-out all;
  }
  &:hover::after {
    right: 0;
  }
  &:active {
    box-shadow: 0px 0px 10px;
  }
}
.carouselBotones {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  top: 50%;
  border-radius: 100px;
  cursor: pointer;
  z-index: 10;
}
.botonDerecho {
  left: 20px;
}
.botonIzquierdo {
  right: 20px;
}
